.contactsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  max-height: fit-content;
  background-image: linear-gradient(to top left, #ffb800, #9225ff);
  border: none;
  padding: 10px;
}

@media screen and (min-width:768px){
.contactsSection {
  padding: 20px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 10px 12px -6px rgba(0, 0, 0, 0.4);
  
}
}

.contactsTitle {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    text-shadow: 3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000;
}

.contactsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
  background-color: #280a46;
  box-shadow: inset 0 0 10px 5px #9225ff;
  border: 3px solid #ffb800;
  border-radius: 30px;
  padding: 10px;
  
}

@media screen and (min-width:1279px){
.contactsList {
height: 305px;
}
}

.contactsListAlt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #280a46;
  box-shadow: inset 0 0 10px 5px #9225ff;
  border: 3px solid #ffb800;
  border-radius: 30px;
  padding: 10px;
  height: 200px;
  color: #fff;
}

.contactsData{
  border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    box-shadow: inset 0 0 10px 2px  #9225ff;
    background-color: #280a46;
}

.contactsPhone{
  color: #fff;
  background-color: #9225ff;
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  text-align: start;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  width: 120px;
  overflow: hidden;
}

@media screen and (max-width:767px){
.contactsPhone{
font-size: 13px;
}
}

@media (min-width: 768px) {
  .contactsPhone{
  width: 350px;
}
}

@media (min-width: 1280px) {
  .contactsPhone{
    width: 100%;
  }
}

.contactsItemWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactsItem {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
background-image: linear-gradient(to top left, #ffb800, #9225ff);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
  transform: translateY(0); /* No elevation initially */
  filter: none; /* No shadow initially */
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.contactsItem:hover{
  cursor: pointer;
  transform: translateY(-5px); /* Slight elevation */
  filter: drop-shadow(0px 16px 24px #9225ff);
}

.contactsDetails {
  display: flex;
  justify-content: space-between;
}

.contactsName{
    font-weight: 700;
}

.checkbox {
 cursor: pointer;
}

@media screen and (min-width:768px){

}


.contactsButtonArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.contactsButton{
    padding: 3px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  cursor: pointer;
    color: #fff;
    background-color: #9225ff;
    border: 1px solid #fff;
    margin:2px;
    fill:#fff;
}

.contactsButton:hover{
background-color: #ffb800;
}

.navigationArea{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.navigationButton{
    padding: 8px; 
    border: none;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    background-color: #9225ff;
    filter: drop-shadow(3px 3px 20px rgb(114, 17, 17), 5px 5px 5px #000000);
}

.navigationButton:hover{
background-image: linear-gradient(to top left, #ffb800, #9225ff);
}

.catImage {
  width:250px;
  height: 250px;
  cursor: pointer;
}

.catGalleryCover{
  
}

.catGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 4px;
  background-color: #280a46;
    box-shadow: inset 0 0 10px 5px #9225ff;
    border: 3px solid #ffb800;
  background-size:cover;
}


.catItem {
  
  background-color: #9225ff;
  border: 3px solid #ffb800;
  font-weight: 700;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  
}

.catItem:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.loadBtn{
  display: block;
  width: 140px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .15);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    background-color: #9225ff;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}

.loadBtn:hover {
  background-image: linear-gradient(to top left, #ffb800, #9225ff);
}