@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
/*background-color:  #330d5a;*/
/*background-color:  #280a46;*/
/*background-color:  #1c0631;*/
background: rgba(40, 10, 70, 0.6) url(./background.png); /* #280a46 with 60% opacity */
background-blend-mode: overlay; /* Optional: blends the color with the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#root{
   display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}